.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}
.login-container {
  background-color: #272727;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 450px;
}
.label {
  font-family: 'Roboto';
  color: #f8fafc;
}
.input {
  font-family: 'Roboto';
  width: 100%;
  border: 1px solid #f8fafc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  margin-top: 10px;
}
.button {
  background-color: #4f46e5;
  width: 100%;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
}
.jobby-icon {
  margin-bottom: 10px;
}
.para {
  color: #ff0b37;
  font-family: 'Roboto';
}
